body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e0f2fe;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

input,
button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #0284c7;
  color: white;
  cursor: pointer;
  border: none;
}

.student {
  background: #f1f5f9;
  padding: 12px;
  border-left: 5px solid #0284c7;
  margin: 10px 0;
  border-radius: 8px;
}
