.container{
    width: 1400px;
    height: 550px;
    background-color: #EAEBEF;
    margin: 20px;
    padding: 15px;;
}

.card{
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    float: left;    
}
.prod-img{
    width: 290px;
    height: 200px;
    margin:5px;
    border: 1px solid #000;
}