.container{
    width: 1400px;
    height: 1010px;
    margin: 20px;
    padding: 10px;
    background-color: #F7F7F7;
}
.card{
    width: 300px;
    height: 450px;
    border: 1px solid #000;
    float: left;
    margin: 20px;
    padding: 10px;
}
.img-placeholder{
    width: 290px;
    height:225px;
    border:0px solid #000;
}
.center{
    text-align: center;
}
.price{
    background-color: #FFCE12;
    width: 50px;
    height: 24px;
    border-radius: 15px;
    text-align: center;
    padding: 12px;
    margin-left: 40px;
    font-weight:bold;
}